.menu-trigger{
    width: 120px;
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.2rem;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.15em;

    height: 30px;
    > p{
        font-size: 1rem;
        font-weight: 500;
        color: black;
        
    }
}

.dropdown-menu{
    width: 240px;
    height: 75px;
    display: flex;
    margin-top: 1px;
    margin-left: 3px;
    background-color: #F8F8F8;
    border-radius: 0.2rem;
    justify-content: end;
    
    align-items: center;
    box-shadow: #43475545 0px 0px 0.15em;
    
}

.dropdown-menu-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;  

    > h1 {
        font-size: 1rem;
    }
}

.dropdown-menu.active{
    opacity: 1;
    display: flex;
    visibility: visible;
    position: absolute;
    z-index: 10;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.inner-dropdown-menu{
    z-index: 100;
    width: 50px;
    position: absolute;
    left: 12.5rem;
    height: 50px;
    display: flex;
    margin-top: 1px;
    background-color: #F8F8F8;
    border-radius: 0.2rem;
    justify-content: center;
    align-items: center;
    box-shadow: #43475545 0px 0px 0.15em;
    
}

.inner-dropdown-menu-container{
    height: min-content;

    display: flex;
    width: min-content;

    flex-direction: column;
    transform: translateX(-20px);
    
    align-items: center;
    > h1 {
        font-size: 0.9rem;
        cursor: pointer;
    }
    
}

.inner-dropdown-menu.active{
    opacity: 1;
    display: flex;
    visibility: visible;
    position: absolute;
    width: min-content;
    height: min-content;
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 100;

}

.inner-dropdown-menu.inactive{
    width: min-content;
    height: min-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-item{
    display: flex; 
    width: 200px;
    padding-left: 0.1rem ;
    padding-right: 0.4rem;

    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin-top: 6px;
    padding: 0 0 6px 0;
    transform: translateX(-20px);
    
    font-weight: 500;
    > p {
        color: #A7A7A9;
        font-size: 1rem;
    }
}



.inner-option-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    width: 80px;
    cursor: pointer;
    height: 15px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.15em;
    border-radius: 2px;
     > p {
        color: black;
        font-size: 0.9rem;
     }
    
}

.adjustment{
    width: 12px;
    transform: translateY(0.4px);
}

.down-arrow{
    padding-top: 3px;
    width: 16px;
}

.inner-down-arrow{
    padding-top: 1px;
    width: 10px;
}

